a{
	text-decoration: none;
}
body{
	font-family: 'Open Sans','Sans-serif';

/**Header elements after this like logo etc */	
}
#wrapper{
	max-height: 940px;
	margin:0 auto;
	padding :0 5%;
}
#logo{
	text-align:center;
	margin:0;
}
header{
	float:left;
	margin:0 0 30px 0;
	padding:5px 0 0 0;
	width:100%;
}
/*Green anchor tags  */
a{
	color: #6ab47b;
}
/*Green Header */
header{
	background: #6ab47b;
	border-color: #599a68
}
/*HEADER color change */
h1,h2{
	color:#fff;
	
}
h1{
	font-family: 'Changa One', 'Sans-serif';
	margin:15px 0;
	font-size:1.75em;
	font-weight: normal;
	line-height: 0.8em;
}
h2{
	font-size:0.95em;
	margin:-5px 0 0;
	font-weight:bold;
}

/*body : body of the website where fonts and background clour is set */
body{
	background-color:#fff;
	color:#999;
}
/***
Navigation 
***/
nav{
	background: #599a68;
	text-align: center;
	padding: 10px 0;
	margin:20px 0 0;
}
nav a, nav a:visited {
	color:#fff;
}
/*color of HOVER GREEN */
nav a.selected,nav a:hover{
color:#32673f;
}
nav ul{
	list-style:none;
	margin:0 10px;
	padding:0;
}
nav li{
	display: inline-block;
}
nav a{
	font-weight: 800;
	padding:15px 10px;
}
/***
Footer
*****/
footer{
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	color:#ccc;
	clear:both;
}
img{
	max-width: 100%;

}
/*Portfolio Page , where image is put up for display */
#gallery{
 margin:0;
 padding:0;
 list-style:none;
}
 #gallery li {
   float:left;
   width:45%;
   margin:2.5%;
   background-color: #f5f5f5;
   color:#bdc3c7;
 }
 #gallery li a p{
 	margin:0;
 	padding:5%;
 	font-size:0.75em;
 	color:#bdc3c7;

 }
/****Social Icons ***/
.social-icon{
	height:2em;
	width: 2em;
	margin:0 5px;
}
.profile-photo {
	max-width: 130px;
	height: 110px;
	display:block;
	margin: 0 auto 30px ;
	border-radius: 20px;
	
}
h3{
	margin:0 0 1em 0;
}
/*** contact page ****/
.contact-info{
	list-style: none;
	padding:0;
	margin:0;
	font-size: 0.9em;
}
.contact-info li.phone a{
	background-image: url('../img/phone.png');
}
.contact-info li.mail a{
	background-image:url('../img/mail.png');
}
.contact-info li.twitter a{
	background-image: url('../img/twitter.png')

}
.contact-info  a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin:0 0 10px;
}